# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# VS Code
.vscode/

# Archivos del sistema
Thumbs.db
desktop.ini

# Variables locales
.env

# Build
build/
dist/

# PyInstaller
*.spec